web/WEB-INF/wsdl/localhost_8080/WebServiceCRUD/Services.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="Services">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/WebServiceCRUD/Services?xsd=1"/>
</xsd:schema>
</types>
<message name="agregar">
<part name="parameters" element="tns:agregar"/>
</message>
<message name="agregarResponse">
<part name="parameters" element="tns:agregarResponse"/>
</message>
<message name="listar">
<part name="parameters" element="tns:listar"/>
</message>
<message name="listarResponse">
<part name="parameters" element="tns:listarResponse"/>
</message>
<message name="eliminar">
<part name="parameters" element="tns:eliminar"/>
</message>
<message name="eliminarResponse">
<part name="parameters" element="tns:eliminarResponse"/>
</message>
<message name="editar">
<part name="parameters" element="tns:editar"/>
</message>
<message name="editarResponse">
<part name="parameters" element="tns:editarResponse"/>
</message>
<message name="listarId">
<part name="parameters" element="tns:listarId"/>
</message>
<message name="listarIdResponse">
<part name="parameters" element="tns:listarIdResponse"/>
</message>
<portType name="Services">
<operation name="agregar">
<input wsam:Action="http://WebService/Services/agregarRequest" message="tns:agregar"/>
<output wsam:Action="http://WebService/Services/agregarResponse" message="tns:agregarResponse"/>
</operation>
<operation name="listar">
<input wsam:Action="http://WebService/Services/listarRequest" message="tns:listar"/>
<output wsam:Action="http://WebService/Services/listarResponse" message="tns:listarResponse"/>
</operation>
<operation name="eliminar">
<input wsam:Action="http://WebService/Services/eliminarRequest" message="tns:eliminar"/>
<output wsam:Action="http://WebService/Services/eliminarResponse" message="tns:eliminarResponse"/>
</operation>
<operation name="editar">
<input wsam:Action="http://WebService/Services/editarRequest" message="tns:editar"/>
<output wsam:Action="http://WebService/Services/editarResponse" message="tns:editarResponse"/>
</operation>
<operation name="listarId">
<input wsam:Action="http://WebService/Services/listarIdRequest" message="tns:listarId"/>
<output wsam:Action="http://WebService/Services/listarIdResponse" message="tns:listarIdResponse"/>
</operation>
</portType>
<binding name="ServicesPortBinding" type="tns:Services">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="agregar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Services">
<port name="ServicesPort" binding="tns:ServicesPortBinding">
<soap:address location="http://localhost:8080/WebServiceCRUD/Services"/>
</port>
</service>
</definitions>